@import './mixins';

.about{
    display: flex;
    flex-direction: column;
    .about-header{
        width: 100%;
        height: 60vh;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover div{
            opacity: 0;
        }
        div{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($key1, 0.6);
            z-index: 0;
            transition: all 0.2s;
        }
        h1{
            color: white;
            z-index: 1;
            font-size: 1.5rem;
            letter-spacing: 0.025rem;
        }
    }
    .about-content-row{
        margin: 5% 0%;
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 2%; 
        column-gap: 5%;
        h1{
            line-height: 2.25rem;
            margin: 0% 0% 5% 0%;
            color: $key1;
            font-size: 1.75rem;
        }
    }
}