@import './variables.scss';

body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5{
  color: $header;
  letter-spacing: 0.025rem;
}

p, span{
  color: $text;
  font-size: 0.85rem;
  line-height: 1.5rem;
  letter-spacing: 0.015rem;
}

a{
  text-decoration: none;
  color: $text;
  &:visited{
    color: $text
  }
}
.container{
  width: 90vw;
  margin-left: 10vw;
  position: absolute;
  padding: 5%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}

button{
  background: transparent;
  padding: 4% 7.5%;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $key1;
  border-color: $key1;
  transition: all 0.4s;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  &:after{
    content: '';
    width: 150%;
    height: 400%;
    border-radius: 50%;
    top: -200%;
    left: -25%;
    z-index: -1;
    position: absolute;
    background: $key1;
    transition: all 0.4s;
    transform: scale(0);
    opacity: 0;
  }
  &:hover{
    color: white;
  }
  &:hover::after{
    transform: scale(1);
    opacity: 1;
  }
}