@import './mixins';

.blog{
    flex-direction: column;
    .blog_item{
        border-radius: 7.5px;
        overflow: hidden;
        cursor: pointer;
        width: 60vw;
        height: 20vw;
        box-sizing: border-box;
        margin: 0% 0% 2.5% 0%;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 5px 30px 0px rgba($header, 0.1);
        transition: all 0.25s;
        border-radius: 7.5px;
        &:hover{
            box-shadow: 0px 5px 30px 0px rgba($header, 0.2);
        }
    }
    .blog_item_img{
        flex: 1;
        background-position: center;
        background-size: cover;
    }
    .blog_item_content{
        flex: 1.15;
        padding: 2.5% 5%; 
        position: relative;       
        h1{
            color: $header;
            font-size: 1.35rem;
            font-weight: 400;
        }
        div{
            display: flex;
            flex-direction: row;
        }
        h3{
            color: $key3;
            margin: 0% 1.5% 0% 0%;
            font-size: 0.9rem;
            font-weight: 400;
        }
        p{
            margin-top: 5%;
            color: $text;
            font-size: 0.8rem;
            line-height: 1.15rem;
        }
        span{
            color: rgba($text, 0.5);
            font-size: 0.75rem;
            position: absolute;
            bottom: 20px;
            right: 20px;   
        }
    }
    .blogview{
        position: relative;
        .left{
            position: fixed;
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .right{
            width: 75%;
            margin-left: 25%;
            padding-bottom: 7.5%;
            .image{
                width: 100%;
                height: 50vh;
                background-size: cover;
                background-position: center;
            }
            h3.time{
                font-size: 0.8rem;
                font-weight: 300;
                color: rgba($text, 0.75);
                margin-bottom: 5%;
            }
            p{
                font-size: 0.95rem;
                line-height: 1.5rem;
                margin-bottom: 3.5%;
            }
            a{
                transition: all 0.2s;
                text-decoration: underline;
                &:hover{
                    color: $key2;
                }
            }
        }
        .backButton{
            cursor: pointer;
            font-size: 30px;
            transition: opacity 0.2s;
            &:hover{
                opacity: 0.5;
            }
            margin-bottom: 5%;
        }
    }
    .author{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 12.5% 0%;
        a, h3{
            margin: 0%;
        }
        a{
            font-size: 1.25rem;
            font-weight: bold;
            color: $header;
            margin: 5% 0%;
            cursor: pointer;
            transition: color 0.15s;
            &:hover{
                color: $key2;
            }
        }
        h3{
            font-size: 0.9rem;
            font-weight: 300;
            color: rgba($text, 0.75);
        }
        div{
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
            background-size: 125%;
            background-position: 50% 10%;
        }
    }
}