@import './mixin';

.home{
    background-position: center;
    background-size: cover;
    h1, p{
        color: white;
        width: 50%;
    }
    h1{
        font-size: 4.5rem;
        margin: 0;
        font-weight: 400;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.75rem;
        letter-spacing: 0.05rem;
    }
    flex-direction: column;
    justify-content: flex-end;
    padding: 0% 0% 10% 10%;
    .home-vid{
        pointer-events: none;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 91vw; 
        z-index: -1;
        filter: grayscale(25%) contrast(90%) brightness(50%);
    }
}