@import './mixin';

.menu{
    position: fixed;
    height: 100vh;
    width: 9vw;
    box-sizing: border-box;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: rgba($key3, 0.35) solid 1px;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: $key3;
        margin-bottom: 30px;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        transition: all 0.15s;
        padding: 2.5px;
        text-align: center;
        font-weight: 400;
        &:hover{
            color: $text;
        }
    }
    .links{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .active{
            color: $text;
            font-weight: bold;
        }
    }
    .logo, .icon{
        img{
            max-width: 100%;
        }
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    .icon{
        width: 30px;
        height: 30px;
        transition: all 0.2s;
        &:hover{
            opacity: 0.5;
        }
    }
}