@import './mixins';

.projects{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    .left, .right, .right-project-view, .left-project-view{
        height: 100vh;
    }
    .left, .left-project-view{
        flex: 1;
        padding: 0% 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            margin: 0%;
            text-transform: uppercase;
            line-height: 2.5rem;
            color: $key1;
            font-size: 2rem;
        }
    }
    .left-project-view{
        position: relative;
    }
    .right, .right-project-view{
        flex: 2.5;
    }
      .right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        .project-item{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            width: 50%;
            height: 50%;
            cursor: pointer;
            h1{
                font-weight: 400;
                color: white;
                font-size: 1.15rem;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
                margin: 7.5%;
            }
            .project-item-bg{
                transition: all 0.5s;
                position: absolute!important;
                width: 100%;
                height: 100%;
                z-index: -1;
                img{
                    object-fit: cover;

                }
            }
            &:hover{
                .project-item-bg{
                    transform: scale(1.15);
                }
            }
        }
    }
    .right-project-view{
        background-position: center;
        background-size: cover;
    }
}
.project-view-pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 0%;
    svg{
        cursor: pointer;
        width: 15px;
        height: 15px;
        fill: $key1;
        margin: 0% 5%;
        transition: all 0.2s;
        &:hover{
            opacity: 0.5;
        }
    }
    .circle{
        cursor: pointer;
        width: 12px;
        height: 12px;
        margin: 0% 5px;
        border-radius: 50%;
    }
}